* {
	margin: 0;
	padding: 0;
}

.menu {
	display: flex;
	justify-content: center;
	background-color: black;
	align-items: center;
	height: 10vh;
}

.menu a {
	position: relative;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	margin: 10px;
}

.menu a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: cyan;
	transition: width 0.3s ease-in-out;
}

.menu a:hover::before {
	width: 100%;
}

.content {
	display: flex;
	height: 90vh;
	justify-content: center;
	align-items: center;
	background-image: url("/assets/images/bg.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}